@font-face {
    font-family: 'Soloist Halftone';
    src: url('https://fonts.cdnfonts.com/css/soloist-halftone');
}

@font-face {
    font-family: 'Death Star';
    src: url('https://fonts.cdnfonts.com/css/death-star');
}

@font-face {
    font-family: 'Aurebesh English';
    src: url('https://fonts.cdnfonts.com/css/aurebeshenglish');
}

@font-face {
    font-family: 'Urkittat';
    src: url('https://fonts.cdnfonts.com/css/ur-kittat');
}

@font-face {
    font-family: 'Jedi Special Forces 3D';
    src: url('https://fonts.cdnfonts.com/css/jedi-special-forces-3d');
}

@font-face {
    font-family: 'Star Jedi Special Edition';
    src: url('https://fonts.cdnfonts.com/css/starjedi-special-edition');
}

@font-face {
    font-family: 'Star Wars';
    src: url('https://fonts.cdnfonts.com/css/star-wars');
}

@font-face {
    font-family: 'Death Star';
    src: url(url('https://fonts.cdnfonts.com/css/death-star'));
}