.card-container {
    max-height: 400px;
    overflow-y: auto;
    width: 300px;
  
    &::-webkit-scrollbar {
      width: 0; /* Hide the scrollbar for webkit browsers (Chrome, Safari, Edge) */
    }
  
    .card {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 240px;
      align-items: center;
      margin-bottom: 10px;
      @include borderRadiusShort;
      margin: 20px;
      background-color: var(white); /* Use the global black transparent color variable */
      color: var(--color-white);
      @include hoverglowTransition;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px 2px var(--color-primary); /* Use the global primary color variable */
      }

      .card-radio {
        display: none;
      }

      label {
        display: block;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
      }

      .details {
        .add-to-cart {
          background-color: var(--color-primary-light); /* Use the global primary light color variable */
          border: var(--color-primary-dark) 1px solid; /* Use the global primary dark color variable */
    
          &:hover {
            box-shadow: 0 0 10px 2px var(--color-primary); /* Use the global primary color variable */
          }
        }
    
        .edit-details {
          background-color: var(--color-accent); /* Use the global accent color variable */
          border: var(--color-warning) 1px solid; /* Use the global warning color variable */
    
          &:hover {
            box-shadow: 0 0 10px 2px var(--color-warning); /* Use the global warning color variable */
          }
        }
    
        .delete-card {
          background-color: var(--color-danger-light); /* Use the global danger color variable */
          border: var(--color-danger) 1px solid; /* Use the global danger color variable */
    
          &:hover {
            box-shadow: 0 0 10px 2px var(--color-danger); /* Use the global danger color variable */
          }
        }

        button {
          color: var(--color-white);
          font-weight: bold;
          font-size: xx-large;
          width: 60px;
          align-items: center;
          text-align: center;
          padding: 10px;
          @include borderRadiusShort;
          border: none;
          transition: box-shadow 0.1s ease-in-out;
        }
      }

      .details.active {
        display: block;
      }

      .details.inactive {
        display: none;
      }
  
      img {
        width: 150px;
        height: 150px;
        @include borderRadiusShort;
      }
  
      h3 {
        margin: 0;
      }
    }
  }
  