.kyber-list {
  //background: linear-gradient(to right, #6418f2, rgba(0, 0, 0, 0));
  padding-top: 20px;
  color: var(--color-white); /* Use the global white color variable */
  padding-left: 20px;
  padding-right: 20px;
  width: 100%; /* Set the width to fit its contents */
  height: 100%; /* Set the height to fill the screen down to the footer */

  .list-header {
    display: flex;
    align-items: center;
    gap: 10px;
    
    .add-card {
      font-size: xx-large; /* Adjusted font-size */
      @include borderRadiusShort;
      text-align: center;
      width: 40px;
      height: 40px;
      background-color: var(--color-primary-light); /* Use the global primary light color variable */
      border: var(--color-primary-dark) 1px solid; /* Use the global primary dark color variable */
      color: var(--color-white);

      &:hover {
        box-shadow: 0 0 10px 2px var(--color-primary); /* Use the global primary color variable */
      }
    }
  }
}

@import 'searchbox';
@import 'catagories';
@import 'card';
