a {
    color: var(--color-white);
    text-decoration: none;
  
    &:hover {
      color: var(--color-link);
    }
  }

text a {
    color: var(--color-white);
    &:hover {
        color: var(--color-link);
    }
}