.card-container {
    max-height: 400px;
    overflow-y: auto;
  
    &::-webkit-scrollbar {
      width: 0; /* Hide the scrollbar for webkit browsers (Chrome, Safari, Edge) */
    }
  
    .card {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 130px;
      align-items: center;
      margin-bottom: 10px;
      border-radius: 10px;
      margin-left: 10px;
      margin-top: 15px;
      margin-bottom: 20px;
      padding: 10px;
      background-color: var(--color-black-transparent); /* Use the global black transparent color variable */
      color: var(--color-white);
      transition: transform 0.3s ease-in-out;
  
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px 2px var(--color-primary); /* Use the global primary color variable */
      }
  
      img {
        width: 125px;
        height: 125px;
        border-radius: 10px;
      }
  
      h3 {
        margin: 0;
      }
    }
  }
  