.catagories {
    border-radius: 50px;
    width: 200px;
    overflow-x: auto; /* Enable horizontal scrolling */
    display: flex; /* Allow the container to grow beyond its initial size */
    /* Custom scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* Set scrollbar color to transparent */
  
    .catagoty {
      align-items: center;
      display: inline-block; /* Set display to inline-block */
      background-color: var(--color-primary-light); /* Use the global primary light color variable */
      border: var(--color-primary-dark) 1px solid; /* Use the global primary dark color variable */
      color: var(--color-white);
      font-size: large;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 50px;
      margin-right: 10px;
      margin: 5px;
  
      &:hover {
        box-shadow: 0 0 10px 2px var(--color-primary); /* Use the global primary color variable */
      }
    }
  }
  