/* Global styles for three-screen, body, and kyber-info */
.three-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .kyber-info {
    display: flex;
    justify-content: space-between;
    z-index: 0;
  }
  
  /* Styles for slideout-buttons */
  .slideout-buttons {
    display: none;
  }
  
  /* Styles for hidden-checkbox */
  .hidden-checkbox {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
  
  /* Styles for mobile-button */
  .mobile-button {
    z-index: 1;
    background-color: var(--color-gray-transparent);
    color: var(--color-white);
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: var(--color-gray);
    }
  }
  
  /* Styles for kyber-list and kyber-details */
  .kyber-list,
  .kyber-details {
    z-index: 1;
    width: auto;
    height: calc(100vh - 150px);
    overflow-y: auto;
  
    &::-webkit-scrollbar {
      width: 0;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }
  
  /* Media query for mobile view */
  @media (max-width: 767px) {
    .kyber-list,
    .kyber-details {
      height: calc(100vh - 300px);
    }
  
    .kyber-list {
      transform: translateX(-50%);
      transition: transform 0.3s ease;
    }
  
    .kyber-details {
      transform: translateX(50%);
      transition: transform 0.3s ease;
    }
  
    .slideout-buttons {
      display: flex;
      justify-content: space-between;
      margin: 20px;
    }
  
    .mobile-button {
      &:hover {
        background-color: var(--color-gray);
      }
    }
  }
  
  /* Media query for larger screens */
  @media (min-width: 900px) {
    body {
      color: var(--color-white);
    }
  }
  